
.i-be-visible {
  opacity: 1;
  transition: opacity 2s ease;
  -webkit-transition:opacity 2s ease;
  max-height: 260px !important;
}

.i-be-hidden {
  opacity: 0;
  max-height: 260px !important;
  transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
}